@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  background-color: black;
}

@keyframes ripple {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  100% {
    transform: scale(3);
    opacity: 0;
  }
}

@keyframes gradient-x {
  0%,
  100% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
}

@keyframes expand-circle {
  0% {
    transform: scale(0) translate(-50%, -50%);
  }
  100% {
    transform: scale(1) translate(-50%, -50%);
  }
}

@keyframes pulsate {
  0% {
    background-size: 200% 200%;
  }
  50% {
    background-size: 220% 220%;
  }
  100% {
    background-size: 200% 200%;
  }
}

.animate-expand-circle {
  animation: expand-circle 1s linear forwards;
}

.animate-pulsate {
  animation: pulsate 3s linear infinite;
}
